@page "/DataAccess"
@using HCM.API.Models

<div class="container-fluid page-content-setting shift-scheduler">
    <div class="row">
        <div class="col-sm-10">
            <h3>Employee Filter</h3>
            <MudDivider />
        </div>
            <div class="col-sm-2 custom-btn-design text-right">
                <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info" Size="Size.Small">View All</MudButton>
            </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeFrom" SearchFunc="@SearchEmployeeFrom" Clearable="true" Label="Select Employee From" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeTo" SearchFunc="@SearchEmployeeTo" Clearable="true" Label="Select Employee To" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    @if (Loading)
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                            <MudItem xs="12" sm="12" md="12" lg="12" class="text-right custom-btn-design" style="justify-content: flex-end;">
                                <MudButton Variant="Variant.Filled" OnClick="SearchCriteria" StartIcon="@Icons.Material.Filled.Search" Color="Color.Info" Size="Size.Small">Search</MudButton>
                                <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" style="margin:0 10px;">Save</MudButton>
                                <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>
                            </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3>Employee Data Access</h3>
            <MudDivider />
        </div>
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect MultiSelectionTextFunc="@(new Func<List<string>, string>(GetPayrollSelection))" @bind-SelectedValues="PayrollName" HelperText="Select Payroll" T="CfgPayrollDefination" @bind-Value="oPayroll" MultiSelection="true" Label="Select Payroll" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (CfgPayrollDefination item in oListCfgPayrollDefination)
                        {
                            <MudSelectItem Value="@item">@item.PayrollName</MudSelectItem>
                        }
                    </MudSelect>
                    @if (PayrollName != null)
                    {
                        @foreach (var item in PayrollName)
                        {
                            <MudChip Icon="@Icons.Material.Filled.Description" Class="mt-5" Variant="Variant.Text" Color="Color.Primary">@item.PayrollName</MudChip>
                        }
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
   <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oListUserDataAccess" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Employee Detail</MudText>
                            <MudSpacer />
                            @*<MudTextField T="string" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />*@
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Employee ID</MudTh>
                            <MudTh>Employee Code</MudTh>
                            <MudTh>Payroll</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Employee ID">@context.FkEmpId</MudTd>
                             <MudTd DataLabel="Employee Code">@context.EmpId</MudTd>
                            <MudTd DataLabel="Payroll">
                                <MudSelect MultiSelectionTextFunc="@(new Func<List<string>, string>(GetPayrollSelection))" @bind-SelectedValues="PayrollName" T="CfgPayrollDefination" @bind-Value="oPayroll" MultiSelection="true">
                                    @foreach (CfgPayrollDefination item in oListCfgPayrollDefination)
                                    {
                                        <MudSelectItem Value="@item">@item.PayrollName</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>
