@page "/ForgetPassword"
@using HCM.API.Models
@layout UserLayout


<div class="limiter" style="margin-top:-64px;">
        <div class="container-login100" style="background-image: url('img/bg-01.jpg');">
            <MudCard Elevation="5">
            <div class="wrap-login100" style="background: transparent !important;">
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>
                    @if (DisplayEmail)
                    {                        
                                <span class="login100-form-title p-b-34 p-t-27 text-dark">
                                    Generate OTP
                                </span>
                                <MudTextField T="string" @bind-Value="oModel.Email" MaxLength="100" Counter="100" HelperText="Enter Email" Immediate="true" Clearable="true" Label="Email" Variant="Variant.Text" 
                        Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" />
                                <div class="container-login100-form-btn">
                            @if (Loading)
                            {
                                                        <MudText>Loading...</MudText>
                                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            }
                            else
                            {
                                                        <MudButton Variant="Variant.Filled" OnClick="SendOTP" Color="Color.Dark" StartIcon="@Icons.Material.Filled.GeneratingTokens" Title="Send OTP" IconSize="Size.Small">Send OTP</MudButton>
                            }
                                </div>
                    }
                    else if (DisplayOTP)
                    {
                                     <span class="login100-form-title p-b-34 p-t-27 text-dark">
                                    <p>Type your OTP Password sended to your email at: <b>@oModel.Email</b></p>
                                    </span>
                        @if (TimerMessage == "OTP Expired, request a new one.")
                        {
                                    <p style="color:red">@TimerMessage</p>   
                                    <MudButton Variant="Variant.Filled" Disabled="@Loading" OnClick="RequestNew" Color="Color.Dark" StartIcon="@Icons.Material.Filled.ArrowBack" Title="Try Again" IconSize="Size.Small">Try Again</MudButton>
                        }
                        else
                        {
                                    <p>@TimerMessage</p>

                                    <MudTextField T="string" @bind-Value="oPassword.EncryptKey" MaxLength="100" Counter="100" HelperText="Enter OTP" Immediate="true" Clearable="true" Label="OTP" Variant="Variant.Text" 
                            Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Token" />
                                    <div class="container-login100-form-btn">
                                @if (Loading)
                                {
                                                            <MudText>Loading...</MudText>
                                                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                }
                                else
                                {
                                                            <MudButton Variant="Variant.Filled" OnClick="AuthenticateOTP" Color="Color.Dark" StartIcon="@Icons.Material.Filled.Token" Title="Send OTP" IconSize="Size.Small">Authenticate OTP</MudButton>
                                }
                                    </div>
                        }
                    }
                    else if (DisplayChangePassword)
                    {
                                     <span class="login100-form-title p-b-34 p-t-27 text-dark">
                                    <p>Change Password</p>
                                    </span>
                                <MudTextField T="string" @bind-Value="oModel.Password" MaxLength="100" Counter="100" HelperText="Enter New Password" Immediate="true" Clearable="true" Label="New Password" Variant="Variant.Text" 
                        InputType="@PasswordInput" Adornment="Adornment.Start" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="VisiblePassword" AdornmentAriaLabel="Show Password" />
                        <MudTextField T="string" @bind-Value="ConfirmPassword" MaxLength="100" Counter="100" HelperText="Enter confirm Password" Immediate="true" Clearable="true" Label="Confirm Password" Variant="Variant.Text" 
                        InputType="@PasswordInput" Adornment="Adornment.Start" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="VisiblePassword" AdornmentAriaLabel="Show Password" />
                                <div class="container-login100-form-btn">
                            @if (Loading)
                            {
                                                        <MudText>Loading...</MudText>
                                                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            }
                            else
                            {
                                                        <MudButton Variant="Variant.Filled" OnClick="ChangePassword" Color="Color.Dark" StartIcon="@Icons.Material.Filled.Save" Title="Change Password" IconSize="Size.Small">Change Password</MudButton>
                            }
                                </div>
                    }
                </form>
            </div>
            </MudCard>
        </div>
    </div>