@page "/ShiftScheduler"
@using HCM.API.Models

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-12">
            <h3>Shift Scheduler</h3>
            <MudDivider/>
        </div>
    </div>
     <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeFrom" SearchFunc="@SearchEmployeeFrom" Clearable="true" Label="Select Employee From" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeTo" SearchFunc="@SearchEmployeeTo" Clearable="true" Label="Select Employee To" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstPayroll" @bind-Value="oModelPayroll" SearchFunc="@SearchPayroll" Clearable="true" Label="Select Payroll" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.PayrollName}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstDesignation" @bind-Value="oModelDesignation" SearchFunc="@SearchDesignation" Clearable="true" Label="Select Designation" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" 
                    CoerceValue="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem> 
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstDepartment" @bind-Value="oModelDepartment" SearchFunc="@SearchDepartment" Clearable="true" Label="Select Department" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstLocation" @bind-Value="oModelLocation" SearchFunc="@SearchLocation" Clearable="true" Label="Select Location" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstBranch" @bind-Value="oModelBranch" SearchFunc="@SearchBranch" Clearable="true" Label="Select Branch" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                @if (Loading)
                {
                            <MudItem xs="2" sm="2" md="2" lg="2">
                                <MudText>Loading...</MudText>
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            </MudItem>
                }
                else
                {
                            <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                                <MudFab Color="Color.Primary" OnClick="SearchCriteria" StartIcon="@Icons.Material.Filled.Search" Title="Search" IconSize="Size.Small" />
                                <MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                                <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />
                            </MudItem>
                }
            </MudGrid>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oListFilteredEmployee" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstEmployee,bool>(FilterFuncFilteredEmployee)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Selected Employees</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchStringFilteredEmployee" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />        
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Employee Code</MudTh>
                            <MudTh>Employee Name</MudTh>
                            <MudTh>Payroll</MudTh>
                            <MudTh>Designation</MudTh>
                            <MudTh>Department</MudTh>
                            <MudTh>Location</MudTh>
                            <MudTh>Branch</MudTh>
                            <MudTh>Delete</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Department Code">@context.EmpId</MudTd>
                            <MudTd DataLabel="Department Name">@context.FirstName @context.MiddleName @context.LastName</MudTd>
                            <MudTd DataLabel="Active">@context.PayrollName</MudTd>                            
                            <MudTd DataLabel="Active">@context.DesignationName</MudTd>                            
                            <MudTd DataLabel="Active">@context.DepartmentName</MudTd>                            
                            <MudTd DataLabel="Active">@context.LocationName</MudTd>                            
                            <MudTd DataLabel="Active">@context.BranchName</MudTd>     
                            <MudTd DataLabel="Action"><MudIconButton Color="Color.Error" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => DeleteFromFilter(context.Id) )" Title="Delete"></MudIconButton></MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    <MudText Typo="Typo.h6">Assign Shifts</MudText>                            
                </MudItem>
                <MudItem xs="8" sm="8" md="8" lg="8">
                    <MudDateRangePicker @ref="_picker" PickerVariant="PickerVariant.Dialog" MinDate="@MinDate" DateFormat="MM/dd/yyyy" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarMonth" Label="From and To Date Range" @bind-DateRange="_dateRange">
                        <PickerActions>
                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                        </PickerActions>
                    </MudDateRangePicker>
                </MudItem>
            </MudGrid>
        </div>

        <div class="col-sm-6 mt-3">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oListMasterShift" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstShift,bool>(FilterFuncMasterShift)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Shift Master</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchStringMasterShift" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />        
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Shift Code</MudTh>
                            <MudTh>Shift Name</MudTh>  
                            <MudTh>Add</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Department Code">@context.Code</MudTd>
                            <MudTd DataLabel="Department Name">@context.Description</MudTd> 
                            <MudTd DataLabel="Action"><MudIconButton Color="Color.Info" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.ArrowCircleRight" OnClick="@(() => AddShift(context.Id) )" Title="Add"></MudIconButton></MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
         <div class="col-sm-6 mt-3">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oListSelectedShift" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstShift,bool>(FilterFuncSelectedShift)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Selected Shifts</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchStringSelectedShift" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />        
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Shift Code</MudTh>
                            <MudTh>Shift Name</MudTh>
                            <MudTh>Delete</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Department Code">@context.Code</MudTd>
                            <MudTd DataLabel="Department Name">@context.Description</MudTd>                               
                            <MudTd DataLabel="Action"><MudIconButton Color="Color.Error" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => DeleteShift(context.Id) )" Title="Delete"></MudIconButton></MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>