@page "/MonthlyOverTime"
@using HCM.API.Models


<div class="container-fluid page-content-setting shift-scheduler">
    <div class="row">
        <div class="col-sm-10">
            <h3>Monthly OverTime</h3>
            <MudDivider />
        </div>
        <div class="col-sm-2 custom-btn-design text-right">
            <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info" Size="Size.Small">View All</MudButton>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3>Employee Filteration</h3>
            <MudDivider />
        </div>
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeFrom" SearchFunc="@SearchEmployeeFrom" Clearable="true" Label="Select Employee From" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstEmployee" @bind-Value="oModelEmployeeTo" SearchFunc="@SearchEmployeeTo" Clearable="true" Label="Select Employee To" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.EmpId}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstDepartment" @bind-Value="oModelDepartment" SearchFunc="@SearchDepartment" Clearable="true" Label="Select Department" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.DeptName}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstBranch" @bind-Value="oModelBranch" SearchFunc="@SearchBranch" Clearable="true" Label="Select Branch" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstDesignation" @bind-Value="oModelDesignation" SearchFunc="@SearchDesignation" Clearable="true" Label="Select Designation" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true"
                                     CoerceValue="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstLocation" @bind-Value="oModelLocation" SearchFunc="@SearchLocation" Clearable="true" Label="Select Location" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudAutocomplete T="MstOverTime" @bind-Value="oModelmstOvertime" SearchFunc="@SearchOvertime" Clearable="true" Label="OverTime*" HelperText="Select OverTime" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                @*
                <MudItem xs="3" sm="3" md="3" lg="3">
                <MudAutocomplete T="CfgPayrollDefination" Value="oModelPayroll" SearchFunc="@SearchPayroll" ValueChanged="@FillPayrollCode" Clearable="true" Label="Select Payroll*" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.PayrollName}")" />
                </MudItem>
                <MudItem xs="3" sm="3" md="3" lg="3">
                <MudSelect @bind-Value="oModel.PeriodName" Label="Payroll Period*" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                @foreach (var period in oListPayrollPeriod.ToList())
                {
                <MudSelectItem Value="@period.PeriodName">@period.PeriodName</MudSelectItem>
                }
                </MudSelect>
                </MudItem>*@
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudTextField @bind-Value="oModel.DocNum" ReadOnly="@true" MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields"
                                  Label="Doc No*" Variant="Variant.Text"> </MudTextField>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudTextField T="string" @bind-Value="oModel.DocStatus" ReadOnly="true" HelperText="Document Status" Immediate="true" Label="Status*" Variant="Variant.Text"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>

                <MudItem xs="4" sm="4" md="4" lg="4" class="input-btns">
                    <InputFile id="excelFile" OnChange="UploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" hidden multiple="false" />
                    <MudFab HtmlTag="label" Color="Color.Dark" Icon="@Icons.Custom.FileFormats.FileExcel" Label="Import Excel" for="excelFile" />
                    <MudFab HtmlTag="label" Color="Color.Primary" OnClick="MonthlyOverTimeTemplate" StartIcon="@Icons.Material.Filled.ImportExport" Label="Generate Template" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2">
                    @if (excelSheet != null)
                    {
                        @foreach (var file in excelSheet)
                        {
                            <MudText @key="@file" Typo="@Typo.caption">Template :  @file.Name</MudText>
                        }
                        @if (excelSheet.Count == 0)
                        {
                            <MudText Typo="@Typo.caption">No Template selected</MudText>
                        }
                    }
                </MudItem>

                <MudItem xs="12" sm="12" md="12" lg="12">
                    @if (Loading)
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12" sm="12" md="12" lg="12" class="text-right custom-btn-design" style="justify-content: flex-end;">
                            @if (oModel.Id != 0)
                            {
                                @if (oModel.DocStatus == "Draft")
                                {
                                    <MudButton Variant="Variant.Filled" OnClick="Post" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Post</MudButton>
                                }
                                else
                                {
                                    <MudButton Variant="Variant.Filled" OnClick="Void" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Void</MudButton>
                                }
                            }

                            <MudButton Variant="Variant.Filled" OnClick="SearchCriteria" StartIcon="@Icons.Material.Filled.Search" Color="Color.Info" Size="Size.Small">Search</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" style="margin:0 10px;">Save</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>

                        </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="6">
                <MudCardContent>
                    <MudTable Items="@oModel.TrnsSingleEntryOtdetails" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<TrnsSingleEntryOtdetail,bool>(FilterFuncTrnsSingleEntryOtdetail)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Detail List</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchString1" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Emp Code</MudTh>
                            <MudTh>Emp Name</MudTh>
                             <MudTh>Payroll Name</MudTh>
                             <MudTh>Period Name</MudTh>
                            <MudTh>Over Time</MudTh>
                            <MudTh>Hours</MudTh>
                            <MudTh>Amount</MudTh>
                            <MudTh>Active</MudTh>
                            <MudTh>Action</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="EmpCode">@context.EmpId</MudTd>
                            <MudTd DataLabel="EmpName">@context.EmpName</MudTd>
                             <MudTd DataLabel="PayrollName">@context.PayrollName</MudTd>
                             <MudTd DataLabel="PayrollName">@context.PeriodName</MudTd>
                            <MudTd DataLabel="OverTime">@context.OverTimeDescription</MudTd>
                            <MudTd DataLabel="Hours">
                                <MudNumericField @bind-Value="@context.Hours" Min="0" Immediate="true" Clearable="true" Label="" Variant="Variant.Text"
                                                 Adornment="Adornment.Start" Format="0.00" />
                            </MudTd>
                            <MudTd DataLabel="Amount">@context.Amount</MudTd>
                            <MudTd DataLabel="Active">
                                <MudSwitch @bind-Checked="@context.FlgActive" ThumbIcon="@(context.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)"
                                           ThumbIconColor="@(context.FlgActive==true ? Color.Primary : Color.Error)" Color="@(context.FlgActive==true ? Color.Info : Color.Error)">
                                    <span>@(context.FlgActive == true ? "" : "")</span>
                                </MudSwitch>
                            </MudTd>
                            <MudTd DataLabel="Action">
                                <MudIconButton Color="Color.Error" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => DeleteFromFilter(context.Id) )" Title="Delete"></MudIconButton>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                    <MudItem xs="6" sm="6" md="6" lg="6" class="text-right custom-btn-design" style="justify-content: flex-end;">
                        <MudButton Variant="Variant.Filled" OnClick="CalculateOverTime" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" style="margin:0 10px;">Calculate OverTime</MudButton>
                    </MudItem>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>
