@page "/Bonus"
@using HCM.API.Models
@using System.Globalization

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-12">
            <h3>Bonus Master</h3>
            <MudDivider />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.DocNo" Disabled=true MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers"
                                     Label="Doc No*" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                @*<MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.DocCode" Disabled="@DisabledCode" Mask="@AlphaNumericMask" MaxLength="100" Counter="100" HelperText="Enter Doc Code" Immediate="true" Clearable="true"
                                  Label="Doc Code*" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>*@
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.Code" Disabled="@DisabledCode" MaxLength="50" Mask="AlphaNumericMask2" Counter="50" HelperText="Enter Code" Immediate="true" Clearable="true" Label="Code*" Variant="Variant.Text"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4" class="text-right">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.ValueType" Label="Value Type*" HelperText="Select Value Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "Val_Type").ToList())
                        {
                            <MudSelectItem Value="@Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.SalaryFrom" Min="0" HelperText="Enter Salary From" Immediate="true" Clearable="true" Label="Salary From*" Variant="Variant.Text"
                                     Adornment="Adornment.Start" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.SalaryTo" Min="0" HelperText="Enter Salary To" Immediate="true" Clearable="true" Label="Salary To*" Variant="Variant.Text"
                                     Adornment="Adornment.Start" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.ScaleFrom" Min="0" HelperText="Enter Scale From" Immediate="true" Clearable="true" Label="Scale From*" Variant="Variant.Text"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.ScaleTo" Min="0" HelperText="Enter Scale To" Immediate="true" Clearable="true" Label="Scale To*" Variant="Variant.Text"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.BonusPercentage" Min="0" HelperText="Enter Bonus %" Immediate="true" Clearable="true"
                                     Label="Bonus Percentage*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.MinimumMonthsDuration" Min="0" HelperText="Enter Month Duartion" Immediate="true" Clearable="true"
                                     Label="Min Months Duration*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.ElementType" Label="Element Type*" HelperText="Select Element Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstElement Element in oElementList.Where(x => x.FlgActive == true).ToList())
                        {
                            <MudSelectItem Value="(int?)Element.Id">@Element.Code - @Element.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    @if (Loading)
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2" class="text-right custom-btn-design">
                            <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>

                            @*         <MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                        <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />*@
                        </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <MudDivider />
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oList" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstBonu,bool>(FilterFunc)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Bonus</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchString1" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                        </ToolBarContent>
                        <HeaderContent>
                            @*<MudTh>Doc Code</MudTh>*@
                            <MudTh>Code</MudTh>
                            <MudTh>Value Type</MudTh>
                            <MudTh>Salary From</MudTh>
                            <MudTh>Salary To</MudTh>
                            <MudTh>Scale From</MudTh>
                            <MudTh>Scale To</MudTh>
                            <MudTh>Bonus %</MudTh>
                            <MudTh>Element Type</MudTh>
                            <MudTh>Active</MudTh>
                            <MudTh>Action</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @*<MudTd DataLabel="Code">@context.DocCode</MudTd>*@
                            <MudTd DataLabel="Value">@context.Code</MudTd>
                            <MudTd DataLabel="RangeFrom">@context.ValueType</MudTd>
                            <MudTd DataLabel="RangeTo">@context.SalaryFrom</MudTd>
                            <MudTd DataLabel="LeaveType">@context.SalaryTo</MudTd>
                            <MudTd DataLabel="GracePeriod">@context.ScaleFrom</MudTd>
                            <MudTd DataLabel="GracePeriod">@context.ScaleTo</MudTd>
                            <MudTd DataLabel="LeaveCount">@context.BonusPercentage</MudTd>
                            <MudTd DataLabel="Deduction">@context.ElementType</MudTd>
                            <MudTd DataLabel="Deduction">@context.FlgActive</MudTd>
                            <MudTd DataLabel="Action"><MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditRecord(context.Id))" Title="Edit"></MudIconButton></MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>