@page "/Calendar"
@using HCM.API.Models

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Calendar Setup</h3>
            <MudDivider/>
        </div>
        @*<div class="col-sm-1">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.List" Title="View All" />
        </div>*@
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.Code" Disabled="@DisbaledCode" Mask="@AlphaNumericMask" MaxLength="20" Counter="20" HelperText="Enter Code" Immediate="true" Clearable="true" Label="Code" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem> 
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.Description" MaxLength="200" Counter="200" HelperText="Enter Calendar Name" Immediate="true" Clearable="true" Label="Calendar Name" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem> 
                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive==true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
                @if (Loading)
                {
                            <MudItem xs="2" sm="2" md="2" lg="2">
                                <MudText>Loading...</MudText>
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            </MudItem>
                }
                else
                {
                            <MudItem xs="2" sm="2" md="2" lg="2">
                                <MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                                <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />
                            </MudItem>
                }
                <MudItem xs="8" sm="8" md="8" lg="8">
                    <MudDateRangePicker @ref="_picker" PickerVariant="PickerVariant.Dialog" Disabled="@DisbaledDate" MinDate="@MinDate" DateFormat="MM/dd/yyyy" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarMonth" Label="Start and End Date Range" @bind-DateRange="_dateRange">
                        <PickerActions>
                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                        </PickerActions>
                    </MudDateRangePicker>
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                        <MudCardContent>
                            <MudTable Items="@oList" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstCalendar,bool>(FilterFunc)">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Calendars</MudText>
                                    <MudSpacer />
                                    <MudTextField T="string" @bind-Value="searchString1" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />        
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Code</MudTh>
                                    <MudTh>Calendar Name</MudTh>
                                    <MudTh>Start Date</MudTh>
                                    <MudTh>End Date</MudTh>
                                    <MudTh>Active</MudTh>
                                    <MudTh>Action</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Calendar Name">@context.Description</MudTd>
                                    <MudTd DataLabel="Start Date">@Convert.ToDateTime(context.StartDate).ToString("MM/dd/yyyy")</MudTd>
                                    <MudTd DataLabel="End Date">@Convert.ToDateTime(context.EndDate).ToString("MM/dd/yyyy")</MudTd>
                                    <MudTd DataLabel="Active">@context.FlgActive</MudTd>
                                    <MudTd DataLabel="Action"><MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditRecord(context.Id) )" Title="Edit"></MudIconButton></MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </MudCardContent>
            </MudCard>
        </div>
    </div>    
</div>