@page "/DocumentNumberSeries"
@using HCM.API.Models

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-12">
            <h3>Document Number Series Setup</h3>
            <MudDivider />
        </div>
        @*<div class="col-sm-1">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.List" Title="View All" />
        </div>*@
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design dn-num">
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudAutocomplete T="MstForm" @bind-Value="oModelForm" SearchFunc="@SearchForm" Clearable="true" HelperText="Select Form" Label="Select Form*" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true"
                                     CoerceValue="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.FormName}")" />
                </MudItem>
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudTextField T="string" @bind-Value="oModel.Prefix" Disabled="DisbaledCode" MaxLength="10" Counter="10" HelperText="Enter Documnet Prefix" Immediate="true" Clearable="true" Label="Document Prefix*" Variant="Variant.Text"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudNumericField @bind-Value="oModel.StartNo" MaxLength="20" Min="0" Counter="20" HelperText="Enter Start No" Immediate="true" Clearable="true"
                                     Label="Start No*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">


                    @if (Loading)
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12" sm="12" md="12" lg="12" class="text-right custom-btn-design" style="justify-content: flex-end;">
                            <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>
                        </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTable Items="@oList" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstDocumentNumberSeries,bool>(FilterFunc)">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Documnet Number Seriess</MudText>
                            <MudSpacer />
                            <MudTextField T="string" @bind-Value="searchString1" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Document Name</MudTh>
                            <MudTh>Document Prefix</MudTh>
                            <MudTh>Document Start No</MudTh>
                            <MudTh>Active</MudTh>
                            <MudTh>Action</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Documnet Number Series Code">@context.FormName</MudTd>
                            <MudTd DataLabel="Documnet Number Series Name">@context.Prefix</MudTd>
                            <MudTd DataLabel="Active">@context.StartNo</MudTd>
                            <MudTd DataLabel="Active">@context.FlgActive</MudTd>
                            <MudTd DataLabel="Action"><MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditRecord(context.Id) )" Title="Edit"></MudIconButton></MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>