@page "/Grading"
@using HCM.API.Models
@using System.Globalization

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-12">
            <h3>Grading Setup</h3>
            <MudDivider/>
        </div>
        @*<div class="col-sm-1">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.List" Title="View All" />
        </div>*@
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.Code" Disabled="@DisbaledCode" MaxLength="20" Counter="20" HelperText="Enter Grading Code" Immediate="true" Label="Grading Code" Clearable="true" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem> 
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.Description" MaxLength="100" Counter="100" HelperText="Enter Grading Name" Immediate="true" Label="Grading Name" Clearable="true" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem> 
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive==true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
                @if (Loading)
                {
                            <MudItem xs="2" sm="2" md="2" lg="2">
                                <MudText>Loading...</MudText>
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            </MudItem>
                }
                else
                {
                            <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                                <MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                                <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />
                            </MudItem>
                }
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.MinSalary" Min="0" HelperText="Enter Min Salary" Immediate="true" Clearable="true" Label="Min Salary" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" />                    
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.MaxSalary" Min="0" HelperText="Enter Max Salary" Immediate="true" Clearable="true" Label="Max Salary" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture"/> 
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                        <MudCardContent>
                            <MudTable Items="@oList" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstGrading,bool>(FilterFunc)">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Grading</MudText>
                                    <MudSpacer />
                                    <MudTextField T="string" @bind-Value="searchString1" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />        
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Grading Code</MudTh>
                                    <MudTh>Grading Name</MudTh>
                                    <MudTh>Min Salary</MudTh>
                                    <MudTh>Max Salary</MudTh>
                                    <MudTh>Active</MudTh>
                                    <MudTh>Action</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Grading Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Grading Name">@context.Description</MudTd>
                                    <MudTd DataLabel="Min Salary">@context.MinSalary</MudTd>
                                    <MudTd DataLabel="Min Salary">@context.MaxSalary</MudTd>
                                    <MudTd DataLabel="Active">@context.FlgActive</MudTd>
                                    <MudTd DataLabel="Action"><MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditRecord(context.Id) )" Title="Edit"></MudIconButton></MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </MudCardContent>
            </MudCard>
        </div>
    </div>    
</div>