@page "/Gratuity"
@using HCM.API.Models

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-10">
            <h3>Gratuity Setup</h3>
            <MudDivider />
        </div>
        <div class="col-sm-2 custom-btn-design text-right">
            <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info" Size="Size.Small">View All</MudButton>

            @*<MudFab Color="Color.Primary" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Material.Filled.List" Title="View All" />*@
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.GrtCode" Disabled="@DisabledCode" Mask="@AlphaNumericMask" MaxLength="20" Counter="20" HelperText="Enter Code" Immediate="true" Clearable="true" Label="Code*" Variant="Variant.Text"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.BasedOn" Label="Based On*" HelperText="Select Based On" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        <MudSelectItem Value="@("1")">Basic</MudSelectItem>
                        <MudSelectItem Value="@("2")">Gross</MudSelectItem>
                    </MudSelect>
                </MudItem>


                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.BasedOnValue" Min="0" MaxLength="20" Counter="20" HelperText="Enter Based On Value" Immediate="true" Clearable="true"
                                     Label="Based On Value*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSwitch @bind-Checked="@oModel.FlgWopleaves" ThumbIcon="@(oModel.FlgWopleaves==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgWopleaves==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgWopleaves==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgWopleaves == true ? "Wop Leave Active" : "Wop Leave In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSwitch @bind-Checked="@oModel.FlgAbsoluteYears" ThumbIcon="@(oModel.FlgAbsoluteYears==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgAbsoluteYears==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgAbsoluteYears==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgAbsoluteYears == true ? "Abs Years Active" : "Abs Years In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSwitch @bind-Checked="@oModel.FlgEffectiveDate" ThumbIcon="@(oModel.FlgEffectiveDate==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgEffectiveDate==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgEffectiveDate==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgEffectiveDate == true ? "Effective Date Active" : "Effective Date In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    @if (Loading)
                    {
                        <MudItem xs="4" sm="4" md="4" lg="4">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2" class="text-right custom-btn-design">
                            <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>

                            @*<MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                        <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />*@
                        </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <MudDivider />
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudGrid class="search-action-block align-items-center block-design">
                        <MudItem xs="10" sm="10" md="10" lg="10" Class="">
                            <MudText Typo="Typo.h6">Detail</MudText>
                        </MudItem>
                        <MudSpacer />
                        <MudItem xs="2" sm="2" md="2" lg="2" Class="text-right custom-btn-design" style="justify-content: flex-end;">

                            <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenAddDialog(FullView))" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Size="Size.Small">Add Details</MudButton>

                            @*<MudFab Color="Color.Primary"  OnClick="@((e) => OpenAddDialog(FullView))" StartIcon="@Icons.Material.Filled.Add" Title="Add Details" IconSize="Size.Small" />*@
                        </MudItem>
                    </MudGrid>
                    <MudTable Items="@oDetailList" Class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true">
                        <HeaderContent>
                            <MudTh>Description</MudTh>
                            <MudTh>From Point</MudTh>
                            <MudTh>To Point</MudTh>
                            <MudTh>Days Count</MudTh>
                            <MudTh>Action</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Branch Name">@context.Description</MudTd>
                            <MudTd DataLabel="Branch Name">@context.FromPoints</MudTd>
                            <MudTd DataLabel="Branch Name">@context.ToPoints</MudTd>
                            <MudTd DataLabel="Branch Name">@context.DaysCount</MudTd>
                            <MudTd DataLabel="Action">
                                <MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Edit" OnClick="@((e) => OpenEditDialog(FullView, context))" Title="Edit"></MudIconButton>
                                <MudIconButton Color="Color.Primary" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Delete" OnClick="@((e) => RemoveRecord(context.Description))" Title="Delete"></MudIconButton>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>