@page "/PayrollSetup"
@using HCM.API.Models
@using System.Globalization

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-11">
            <h3>Payroll Setup</h3>
            <MudDivider/>
        </div>
        <div class="col-sm-1">
            <MudFab Color="Color.Primary" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Material.Filled.List" Title="View All" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center shift-master-page-setting">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.PayrollName" Disabled="@DisabledCode" Mask="@AlphaNumericMask" MaxLength="30" Counter="30" HelperText="Enter Payroll Name" Immediate="true" Clearable="true" Label="Payroll Name" Variant="Variant.Text" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem> 
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.PayrollType" Label="Payroll Type" HelperText="Select Payroll Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "Prd_Type").ToList())
                        {
                                                <MudSelectItem Value="Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>                
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive==true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>              
                @if (Loading)
                {
                                            <MudItem xs="2" sm="2" md="2" lg="2">
                                                <MudText>Loading...</MudText>
                                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                                            </MudItem>
                }
                else
                {
                                            <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                                                <MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                                                <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />
                                            </MudItem>
                }
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudDatePicker  PickerVariant="PickerVariant.Dialog" @bind-date="oModel.FirstPeriodEndDt" Label="First Period End Date" HelperText="First Period End Date" 
                    DateFormat="MM/dd/yyyy" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarMonth" />
                </MudItem>   
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.WorkDays" HelperText="Enter Working Days" Immediate="true" Clearable="true" Label="Working Days" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text" > </MudNumericField>
                </MudItem> 
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.WorkHours" HelperText="Enter Working Hours" Immediate="true" Clearable="true" Label="Working Hours" 
                    Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text" > </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.Gltype" Label="GL Type" HelperText="Select GL Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "GLType").ToList())
                        {
                                                <MudSelectItem Value="Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem> 
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="PayrollCalendar" Title="To Filter Periods" Label="Payroll Calendar" HelperText="Select Payroll Calendar" AdornmentIcon="@Icons.Material.Filled.CalendarViewMonth" Adornment="Adornment.Start">
                        @foreach (MstCalendar calendar in oCalendarList.ToList())
                        {
                            <MudSelectItem Value="calendar.Code">@calendar.Code - @calendar.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem> 
            </MudGrid>
        </div>
    </div>
    <MudDivider/>

    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTabs Elevation="2" Rounded="true" Centered="true" Class="my-6" Color="Color.Dark">
                        <MudGrid class="search-action-block align-items-center">
                        <MudItem xs="10" sm="10" md="10" lg="10" Class="pl-5">
                            <MudText Typo="Typo.h6">Pick Elements =></MudText>
                        </MudItem>
                        <MudSpacer />
                        <MudItem xs="2" sm="2" md="2" lg="2" Class="text-right pr-5">
                                <MudFab Color="Color.Primary"  OnClick="@((e) => OpenDialogElement(maxWidth))" StartIcon="@Icons.Material.Filled.Add" Title="Add Element" IconSize="Size.Small" />                                                   
                        </MudItem>
                    </MudGrid>
                        <MudTabPanel Icon="@Icons.Material.Filled.MergeType" Text="Elements" >
                            <MudTable Items="@oElementList" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstElement,bool>(FilterFunc)">                        
                        <HeaderContent>
                            <MudTh>Department Code</MudTh>
                            <MudTh>Department Name</MudTh>
                            <MudTh>Active</MudTh>
                            @*<MudTh>Action</MudTh>*@
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Department Code">@context.ElmtType</MudTd>
                            <MudTd DataLabel="Department Name">@context.Description</MudTd>
                            <MudTd DataLabel="Active">@context.FlgActive</MudTd>
                            
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                        </MudTabPanel>
                        <MudTabPanel Icon="@Icons.Material.Filled.ViewTimeline" Text="Periods">
                            <MudSelect @bind-Value="oModel.Gltype" Label="GL Type" HelperText="Periods GL Type" Class="p-5"
                            AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "GLType").ToList())
                        {
                                                <MudSelectItem Value="Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                        </MudTabPanel>    
                    </MudTabs>
                </MudCardContent>
             </MudCard>
         </div>
    </div>
    </div>