@page "/PayrollSetup"
@using HCM.API.Models
@using System.Globalization

<div class="container-fluid page-content-setting">
    <div class="row">
        <div class="col-sm-10">
            <h3>Payroll Setup</h3>
            <MudDivider />
        </div>
        <div class="col-sm-2 custom-btn-design text-right">
            <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info" Size="Size.Small">View All</MudButton>
            @*<MudFab Color="Color.Primary" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Material.Filled.List" Title="View All" />*@
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center shift-master-page-setting block-design">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField T="string" @bind-Value="oModel.PayrollName" Disabled="@DisabledCode" Mask="@AlphaNumericMask" MaxLength="30" Counter="30" HelperText="Enter Payroll Name" Immediate="true" Clearable="true"
                                  Label="Payroll Name*" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.PayrollType" OnClose="GetAllCalendarPeriods" Label="Payroll Type*" HelperText="Select Payroll Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "Prd_Type").ToList())
                        {
                                <MudSelectItem Value="Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="@oModel.FlgActive" ThumbIcon="@(oModel.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModel.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>

                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @bind-date="oModel.FirstPeriodEndDt" Label="First Period End Date*" HelperText="First Period End Date"
                                   DateFormat="MM/dd/yyyy" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarMonth" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.WorkDays" Min="0" HelperText="Enter Working Days" Immediate="true" Clearable="true" Label="Working Days*"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModel.WorkHours" Min="0" HelperText="Enter Working Hours" Immediate="true" Clearable="true" Label="Working Hours*"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="oModel.Gltype" Label="GL Type*" HelperText="Select GL Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLove Love in oLoveList.Where(x => x.Type == "GLType").ToList())
                        {
                                <MudSelectItem Value="Love.Code">@Love.Code - @Love.Value</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudSelect @bind-Value="PayrollCalendar" OnClose="GetAllCalendarPeriods" Title="To Filter Periods" Label="Payroll Calendar" HelperText="Select Payroll Calendar" AdornmentIcon="@Icons.Material.Filled.CalendarViewMonth" Adornment="Adornment.Start">
                        @foreach (MstCalendar calendar in oCalendarList.ToList())
                        {
                                <MudSelectItem Value="calendar.Code">@calendar.Code - @calendar.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12">
                    @if (Loading)
                    {
                            <MudItem xs="2" sm="2" md="2" lg="2">
                                <MudText>Loading...</MudText>
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                            </MudItem>
                    }
                    else
                    {
                            <MudItem xs="2" sm="2" md="2" lg="2" class="text-right custom-btn-design">
                                <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                                <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error">Reset</MudButton>
                            @*<MudFab Color="Color.Primary" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Title="Save" IconSize="Size.Small" />
                        <MudFab Color="Color.Info" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Title="Refresh" IconSize="Size.Small" />*@
                            </MudItem>
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
    <MudDivider />

    <div class="row mt-5">
        <div class="col-sm-12">
            <MudCard Elevation="5">
                <MudCardContent>
                    <MudTabs Elevation="2" Rounded="true" Centered="true" Class="my-6" Color="Color.Dark">
                        <MudTabPanel Icon="@Icons.Material.Filled.MergeType" Text="Elements">
                            <MudTable Items="@oElementList" class="table-setting text-right custom-btn-design" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<MstElement,bool>(FilterFunc)">
                                <ToolBarContent>
                                    <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialogElement(maxWidth))" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Size="Size.Small">Pick Element</MudButton>
                                    @*<MudFab Color="Color.Primary" OnClick="@((e) => OpenDialogElement(maxWidth))" StartIcon="@Icons.Material.Filled.Add" Title="Pick Element" IconSize="Size.Small" />*@
                                    <MudSpacer />
                                    <MudTextField T="string" @bind-Value="searchStringElement" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Element Code</MudTh>
                                    <MudTh>Element Name</MudTh>
                                    <MudTh>Element Type</MudTh>
                                    <MudTh>Active</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Element Code">@context.Code</MudTd>
                                    <MudTd DataLabel="Element Name">@context.Description</MudTd>
                                    <MudTd DataLabel="Element Code">@context.ElmtType</MudTd>
                                    <MudTd DataLabel="Active">
                                        <MudSwitch @bind-Checked="@context.FlgActive" ThumbIcon="@(context.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)"
                                                   ThumbIconColor="@(context.FlgActive==true ? Color.Primary : Color.Error)" Color="@(context.FlgActive==true ? Color.Info : Color.Error)">
                                            <span>@(context.FlgActive == true ? "Active" : "In Active")</span>
                                        </MudSwitch>
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>

                        </MudTabPanel>
                        <MudTabPanel Icon="@Icons.Material.Filled.ViewTimeline" Text="Periods">
                            <MudTable Items="@oCfgPeriodDateList" class="table-setting" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<CfgPeriodDate,bool>(FilterFuncPeriods)">
                                <ToolBarContent>
                                    <MudTextField T="string" @bind-Value="searchStringPeriods" Placeholder="Search" Variant="Variant.Text" Clearable="true" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Period Name</MudTh>
                                    <MudTh>Calendar Code</MudTh>
                                    <MudTh>Start Date</MudTh>
                                    <MudTh>End Date</MudTh>
                                    <MudTh>Locked</MudTh>
                                    <MudTh>Posted</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Element Code">@context.PeriodName</MudTd>
                                    <MudTd DataLabel="Element Name">@context.CalCode</MudTd>
                                    <MudTd DataLabel="Element Name">@Convert.ToDateTime(context.StartDate).ToString("MM/dd/yyyy")</MudTd>
                                    <MudTd DataLabel="Element Name">@Convert.ToDateTime(context.EndDate).ToString("MM/dd/yyyy")</MudTd>
                                    <MudTd DataLabel="Element Name">@context.FlgLocked</MudTd>
                                    <MudTd DataLabel="Element Name">@context.FlgPosted</MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </MudTabPanel>
                    </MudTabs>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>