@using HCM.API.Models
<MudDialog class="modal-settings">
    <DialogContent>
        @if (Loading)
        {
            <center><MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" /></center>
        }
        @if (DialogFor == "Shifts")
        {
            <MudTable Items="@oListShift" Class="table-setting shift-details-table" Dense="true" Hover="true" Bordered="true" Striped="true"
                  Loading="@Loading" LoadingProgressColor="Color.Primary" T="VMMstShiftDetail" @bind-SelectedItem="oModelShiftDetail">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Shift Detail</MudText>
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Day</MudTh>
                    <MudTh>Start Time</MudTh>
                    <MudTh>End Time</MudTh>
                    <MudTh>Duration</MudTh>
                    <MudTh>Buffer Start Time</MudTh>
                    <MudTh>Buffer End Time</MudTh>
                    <MudTh>Start Grace Time</MudTh>
                    <MudTh>End Grace Time</MudTh>
                    <MudTh>Break Time</MudTh>
                    <MudTh>Out Overlap</MudTh>
                    <MudTh>Expected In</MudTh>
                    <MudTh>Expected Out</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Code">@context.Day</MudTd>
                    <MudTd DataLabel="Code">
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="24 hours" @bind-Time="@context.TSStartTime" HelperText="Start Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd DataLabel="Code">
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" PickerClosed="@((e) => OnValueChanged(context.Day))" Label="24 hours" @bind-Time="@context.TSEndTime" HelperText="End Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker Disabled="true" PickerVariant="PickerVariant.Dialog" Label="24 hours" @bind-Time="@context.TSDuration" HelperText="Duration" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Periods" @bind-Time="@context.TSBufferStartTime" HelperText="Buffer Start Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Periods" @bind-Time="@context.TSBufferEndTime" HelperText="Buffer End Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Periods" @bind-Time="@context.TSGraceStartTime" HelperText="Grace Start Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Periods" @bind-Time="@context.TSGraceEndTime" HelperText="Grace End Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="Periods" @bind-Time="@context.TSBreakTime" HelperText="Break Time" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Timer" />
                    </MudTd>
                    <MudTd>
                        <MudSwitch @bind-Checked="@context.FlgOutOverlap" ThumbIcon="@(context.FlgOutOverlap==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(context.FlgOutOverlap==true ? Color.Primary : Color.Error)" Color="@(context.FlgOutOverlap==true ? Color.Info : Color.Error)">
                            <span>@(context.FlgOutOverlap == true ? "Enable Out Overlap" : "Disbale Out Overlap")</span>
                        </MudSwitch>
                    </MudTd>
                    <MudTd>
                        <MudSwitch @bind-Checked="@context.FlgExpectedIn" ThumbIcon="@(context.FlgExpectedIn==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(context.FlgExpectedIn==true ? Color.Primary : Color.Error)" Color="@(context.FlgExpectedIn==true ? Color.Info : Color.Error)">
                            <span>@(context.FlgExpectedIn == true ? "Enable Expected In" : "Disbale Expected In")</span>
                        </MudSwitch>
                    </MudTd>
                    <MudTd>
                        <MudSwitch @bind-Checked="@context.FlgExpectedOut" ThumbIcon="@(context.FlgExpectedOut==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(context.FlgExpectedOut==true ? Color.Primary : Color.Error)" Color="@(context.FlgExpectedOut==true ? Color.Info : Color.Error)">
                            <span>@(context.FlgExpectedOut == true ? "Enable Expected Out" : "Disbale Expected Out")</span>
                        </MudSwitch>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        }
        @if (DialogFor == "TaxSetup")
        {
            <MudText Typo="Typo.h6">Tax Setup Detail</MudText>
            <MudSpacer />
            <MudDivider />
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField @bind-Value="oModelTaxSetupDetail.TaxCode" Required="true" RequiredError="Code is required" T="string" Disabled="@DisabledCode" Mask="@AlphaNumericMask" MaxLength="20" Counter="20" HelperText="Enter Tax Code" Immediate="true" Clearable="true" Label="Tax Code" Variant="Variant.Text"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField @bind-Value="oModelTaxSetupDetail.Description" Required="true" RequiredError="Description is required" T="string" MaxLength="50" Counter="50" HelperText="Enter Description" Immediate="true" Clearable="true" Label="Description" Variant="Variant.Text"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="oModelTaxSetupDetail.FlgActive" ThumbIcon="@(oModelTaxSetupDetail.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModelTaxSetupDetail.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModelTaxSetupDetail.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModelTaxSetupDetail.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelTaxSetupDetail.MinAmount" Min="0" HelperText="Enter Min Amount" Immediate="true" Clearable="true" Label="Min Amount"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelTaxSetupDetail.MaxAmount" Min="0" HelperText="Enter Max Amount" Immediate="true" Clearable="true" Label="Max Amount"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelTaxSetupDetail.TaxValue" Min="0" HelperText="Enter Tax Value" MaxLength="3" Counter="3" Immediate="true" Clearable="true" Label="Tax Value"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelTaxSetupDetail.FixTerm" Min="0" HelperText="Enter Fix Term" Immediate="true" Clearable="true" Label="Fix Term"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelTaxSetupDetail.AdditionalDisc" Min="0" HelperText="Enter Additional Disc" Immediate="true" Clearable="true" Label="Additional Disc"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
            </MudGrid>
        }
        @if (DialogFor == "GratuitySetup")
        {
            <MudText Typo="Typo.h6">Gratuity Setup Detail</MudText>
            <MudSpacer />
            <MudDivider />
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField @bind-Value="oModelGratuitySetupDetail.Description" Required="true" RequiredError="Description is required" T="string" MaxLength="200" Counter="200" HelperText="Enter Description" Immediate="true" Clearable="true" Label="Description" Variant="Variant.Text"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelGratuitySetupDetail.FromPoints" Min="0" HelperText="Enter From Point" Immediate="true" Clearable="true" Label="From Point"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelGratuitySetupDetail.ToPoints" Min="0" HelperText="Enter To Point" Immediate="true" Clearable="true" Label="To Point"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudNumericField @bind-Value="oModelGratuitySetupDetail.DaysCount" Min="0" HelperText="Enter Days Count" MaxLength="3" Counter="3" Immediate="true" Clearable="true" Label="Days Count"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Percent" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
            </MudGrid>
        }
        @if (DialogFor == "TaxAdjustment")
        {
            <MudText Typo="Typo.h6">Tax Adjustment Detail</MudText>
            <MudSpacer />
            <MudDivider />
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField @bind-Value="oModelTaxAdjustmentDetail.Description" Required="true" RequiredError="Description is required" T="string" MaxLength="50" Counter="50" HelperText="Enter Description" Immediate="true" Clearable="true" Label="Description*" Variant="Variant.Text"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSelect @bind-Value="oModelTaxAdjustmentDetail.TaxType" Label="Tax Type" AdornmentIcon="@Icons.Material.Filled.DocumentScanner" Adornment="Adornment.Start">
                        <MudSelectItem Value="@("Monthly")">Monthly</MudSelectItem>
                        <MudSelectItem Value="@("Yearly")">Yearly</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSelect @bind-Value="oModelTaxAdjustmentDetail.AmountType" Label="Amount Type" AdornmentIcon="@Icons.Material.Filled.DocumentScanner" Adornment="Adornment.Start">
                        <MudSelectItem Value="@("TaxAmount")">Tax Amount</MudSelectItem>
                        <MudSelectItem Value="@("SalaryAmount")">Salary Amount</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSelect @bind-Value="oModelTaxAdjustmentDetail.Period"  Label="Period" HelperText="Select Period" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (CfgPeriodDate Period in oCfgPeriodDateList.ToList())
                        {
                            <MudSelectItem Value="Period.PeriodName">@Period.PeriodName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudNumericField @bind-Value="oModelTaxAdjustmentDetail.Amount" Min="0" HelperText="Enter Amount" Immediate="true" Clearable="true" Label="Amount*"
                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="oModelTaxAdjustmentDetail.FlgActive" ThumbIcon="@(oModelTaxAdjustmentDetail.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModelTaxSetupDetail.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModelTaxAdjustmentDetail.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModelTaxAdjustmentDetail.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
            </MudGrid>
        }
        @if (DialogFor == "EmployeeOverTime")
        {
            <MudText Typo="Typo.h6">Employee OverTime Detail</MudText>
            <MudSpacer />
            <MudDivider />
            <MudGrid class="search-action-block align-items-center">
                 <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudAutocomplete T="MstOverTime" @bind-Value="oModelmstOvertime" SearchFunc="@SearchOvertime" Clearable="true" Label="OverTime" HelperText="Select OverTime" Variant="Variant.Text" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true"
                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="@(e=> e==null?null : $"{e.Description}")" />
                </MudItem>
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @bind-Date="docdate" MinDate="DateTime.Today" Label="OT Date" HelperText="Select OverTime Date*" DateFormat="MM/dd/yyyy" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DateRange" />
                </MudItem>

                <MudItem xs="3" sm="3" md="3" lg="3">

                    <MudTimePicker Label="From Time*" HelperText="24 Hour" @bind-Time="timefrom" PickerClosed="CalHour" />
                </MudItem>

                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudTimePicker Label="To Time*" HelperText="24 Hour" @bind-Time="timeto" PickerClosed="CalHour" />
                </MudItem>
                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudNumericField @bind-Value="Hours" Min="0" ReadOnly="true" Immediate="true" Clearable="true" Label="Hours" Variant="Variant.Text"
                                     Adornment="Adornment.Start" Format="0.00" />
                </MudItem>

                <MudItem xs="3" sm="3" md="3" lg="3">
                    <MudNumericField @bind-Value="Amount" Min="0" ReadOnly="true" Immediate="true" Clearable="true" Label="Amount" Variant="Variant.Text"
                                     Adornment="Adornment.Start" AdornmentText="Rs" Format="0.00" />
                </MudItem>

                <MudItem xs="2" sm="2" md="2" lg="2">
                    <MudSwitch @bind-Checked="@IsFlg" ThumbIcon="@(IsFlg==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(IsFlg==true ? Color.Primary : Color.Error)" Color="@(IsFlg==true ? Color.Info : Color.Error)">
                        <span>
                            @(
                                IsFlg == true ? "Overtime  - Yes" : "Overtime - No"
                                )
                        </span>
                    </MudSwitch>
                </MudItem>
            </MudGrid>
        }
        @if (DialogFor == "HolidayDetail")
        {
            <MudText Typo="Typo.h6">Holiday Detail</MudText>
            <MudSpacer />
            <MudDivider />
            <MudGrid class="search-action-block align-items-center">
                <MudItem xs="4" sm="4" md="4" lg="4">
                    <MudTextField @bind-Value="oModelMstHolidayDetail.Remarks" Required="true" RequiredError="Description is required" T="string" MaxLength="50" Counter="50" HelperText="Enter Description" Immediate="true" Clearable="true" Label="Description*" Variant="Variant.Text"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @bind-Date="oModelMstHolidayDetail.StartDate" MinDate="DateTime.Today" Label="Holiday Date*" HelperText="Select Holiday Date" DateFormat="MM/dd/yyyy" Variant="Variant.Text"
                               Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DateRange" />
                </MudItem>
                <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                    <MudSwitch @bind-Checked="oModelMstHolidayDetail.FlgActive" ThumbIcon="@(oModelMstHolidayDetail.FlgActive==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModelMstHolidayDetail.FlgActive==true ? Color.Primary : Color.Error)" Color="@(oModelMstHolidayDetail.FlgActive==true ? Color.Info : Color.Error)">
                        <span>@(oModelMstHolidayDetail.FlgActive == true ? "Active" : "In Active")</span>
                    </MudSwitch>
                </MudItem>
            </MudGrid>
        }
    </DialogContent>
    <DialogActions>
        <MudItem class="text-right custom-btn-design">
            <MudButton Variant="Variant.Filled" OnClick="Submit" StartIcon="@Icons.Filled.CheckCircle" Color="Color.Info" Size="Size.Small">Ok</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="Cancel" StartIcon="@Icons.Filled.Cancel" Color="Color.Error">Cancel</MudButton>
        </MudItem>
        @*<MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>*@
    </DialogActions>
</MudDialog>
