@page "/LoanRequest"
@using HCM.API.Models
@using System.Globalization

<div class="container-fluid page-content-setting shift-scheduler">
    <div class="row">
        <div class="col-sm-10">
            <h3>Loan Request</h3>
            <MudDivider />
        </div>
        @if (DocNum == 0)
        {
            <div class="col-sm-2 custom-btn-design text-right">
                <MudButton Variant="Variant.Filled" OnClick="@((e) => OpenDialog(maxWidth))" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info" Size="Size.Small">View All</MudButton>
            </div>
        }
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <MudGrid class="search-action-block align-items-center block-design">
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudTextField T="string" ReadOnly="true" @bind-Value="oModel.EmpName" HelperText="Employee Name" Immediate="true" Label="Select Employee*" Variant="Variant.Text"
                                  Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" OnAdornmentClick="@((e) => OpenDialogEmployee(maxWidth))" AdornmentAriaLabel="Select Employee" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudTextField @bind-Value="oModel.DocNum" Disabled="true" MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields"
                                  Label="Doc No*" Variant="Variant.Text"> </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSelect @bind-Value="oModel.DocStatus" Disabled="true" Label="Doc Status*" HelperText="Doc Status" AdornmentIcon="@Icons.Material.Filled.DocumentScanner" Adornment="Adornment.Start">
                        <MudSelectItem Value="@("Open")">Open</MudSelectItem>
                        <MudSelectItem Value="@("Closed")">Closed</MudSelectItem>
                        <MudSelectItem Value="@("Draft")">Draft</MudSelectItem>
                        <MudSelectItem Value="@("Cancelled")">Cancelled</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSelect @bind-Value="oModel.DocAprStatus" Disabled="true" Label="Approval Status*" HelperText="Approval Status" AdornmentIcon="@Icons.Material.Filled.Approval" Adornment="Adornment.Start">
                        <MudSelectItem Value="@("Accepted")">Accepted</MudSelectItem>
                        <MudSelectItem Value="@("Rejected")">Rejected</MudSelectItem>
                        <MudSelectItem Value="@("Pending")">Pending</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.BasicSalary" Disabled="true" Min="0" HelperText="Basic Salary" Immediate="true" Clearable="true"
                                     Label="Basic Salary*" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.GrossSalary" Disabled="true" Min="0" HelperText="Gross Salary" Immediate="true" Clearable="true"
                                     Label="Gross Salary*" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudTextField @bind-Value="oModel.EmpDesg" Disabled="true" MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.TextFields"
                                  Label="Designation*" Variant="Variant.Text"> </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudTextField @bind-Value="oModel.DateOfJoining" Disabled="true" MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DateRange"
                                  Label="Date of Joining*" Variant="Variant.Text"> </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudTextField @bind-Value="LoginUser" Disabled="true" MaxLength="20" Counter="20" Immediate="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.VerifiedUser"
                                  Label="Originator*" Variant="Variant.Text"> </MudTextField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSelect @bind-Value="oModel.LoanCode" Label="Loan Type*" OnBlur="@SetLoan" HelperText="Select Loan Type" AdornmentIcon="@Icons.Material.Filled.MergeType" Adornment="Adornment.Start">
                        @foreach (MstLoan LoanType in oListLoanType.ToList())
                        {
                            <MudSelectItem Value="@LoanType.Code">@LoanType.Code - @LoanType.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" Disabled="true" @bind-Date="oModel.DocDate" MinDate="DateTime.Today" Label="Doc Date*" HelperText="Enter Doc Date" DateFormat="MM/dd/yyyy" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DateRange" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @bind-Date="oModel.RequiredDate" MinDate="DateTime.Today" Label="Required Date*" HelperText="Enter Required Date" DateFormat="MM/dd/yyyy" Variant="Variant.Text"
                                   Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DateRange" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.RequestedAmount" Min="0" TextChanged="CalculateInstallmentAmount" HelperText="Enter Requested Amount" Immediate="true" Clearable="true"
                                     Label="Requested Amount*" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.NoOfInstallments" Min="0" TextChanged="CalculateInstallmentAmount" HelperText="Enter No of Installments" Immediate="true" Clearable="true"
                                     Label="No of Installments*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.ApprovedAmount" Disabled="true" Min="0" HelperText="Enter Approved Amount" Immediate="true" Clearable="true"
                                     Label="Approved Amount*" AdornmentText="Rs" Format="N2" Culture="@CultureInfo.InvariantCulture" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudNumericField @bind-Value="oModel.InstallmentAmount" Disabled="true" Min="0" Max="99" HelperText="Enter Installment Amount" Immediate="true" Clearable="true"
                                     Label="Installment Amount*" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Numbers" Variant="Variant.Text"> </MudNumericField>
                </MudItem>
                @if (oModel.DocStatus == "Open" && oModel.DocAprStatus == "Approved")
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudSelect @bind-Value="oModel.PaymentMode" Label="Payment Mode*" HelperText="Select Payment Mode" AdornmentIcon="@Icons.Material.Filled.Payments" Adornment="Adornment.Start">
                            @foreach (MstLove Love in oLoveList.Where(x => x.Type == "PaymentMode" && (x.Code == "CASH" || x.Code == "CHECK")).ToList())
                            {
                                <MudSelectItem Value="@Love.Code">@Love.Value</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudSelect @bind-Value="oModel.PaymentMode" Label="Chart of Accounts*" HelperText="Select Chart of Account" AdornmentIcon="@Icons.Material.Filled.AccountTree" Adornment="Adornment.Start">
                            @foreach (MstLove Love in oLoveList.Where(x => x.Type == "PaymentMode" && (x.Code == "CASH" || x.Code == "CHECK")).ToList())
                            {
                                <MudSelectItem Value="@Love.Code">@Love.Value</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="2" sm="2" md="2" lg="2" class="text-right">
                        <MudSwitch @bind-Checked="@oModel.FlgStopInstallment" ThumbIcon="@(oModel.FlgStopInstallment==true ? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(oModel.FlgStopInstallment==true ? Color.Primary : Color.Error)" Color="@(oModel.FlgStopInstallment==true ? Color.Info : Color.Error)">
                            <span>@(oModel.FlgStopInstallment == true ? "Installment Active" : "Installment In Active")</span>
                        </MudSwitch>
                    </MudItem>
                }
                <MudItem xs="12" sm="12" md="12" lg="12">


                    @if (Loading)
                    {
                        <MudItem xs="2" sm="2" md="2" lg="2">
                            <MudText>Loading...</MudText>
                            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                        </MudItem>
                    }
                    else
                    {
                        @if (DocNum == 0)
                        {
                            <MudItem xs="12" sm="12" md="12" lg="12" class="text-right custom-btn-design" style="justify-content: flex-end;">
                                <MudButton Variant="Variant.Filled" OnClick="Save" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" style="margin:0 10px;">Save</MudButton>
                                <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.Refresh" Color="Color.Error" style="margin:0 10px;">Reset</MudButton>
                                @if (oModel.DocStatus == "Open" && oModel.DocAprStatus == "Approved")
                                {
                                    <MudButton Variant="Variant.Filled" OnClick="Reset" StartIcon="@Icons.Material.Filled.PostAdd" Color="Color.Primary">Post Payment</MudButton>
                                }
                            </MudItem>
                        }
                    }
                </MudItem>
            </MudGrid>
        </div>
    </div>
</div>